# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.env/

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Docker
postgres_data/

# Static
staticfiles/

# Media
media/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db